<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block dropdown-menu-center">
      <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Toggle for States</button>
      <div ngbDropdownMenu aria-labelledby="dropdownForm1">
        <button ngbDropdownItem *ngFor="let name of States | filterUnique" (click)="SelectedName(name)">{{name}}</button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block dropdown-menu-center">
      <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Toggle for Cities</button>
      <div ngbDropdownMenu aria-labelledby="dropdownForm1">
        <button ngbDropdownItem *ngFor="let cities of Cities" (click)="SelectedCity(cities.City)">{{cities.City}}</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <p style="margin-left: 3em;">Selected State Name : {{SelectedValue}}</p>
    <!-- <ul style="word-break: break-all"><li *ngFor="let cities of Cities" style="display: inline;">{{cities.City}}</li></ul> -->
    <p style="margin-left: 3em;">Selected City Name : {{selectedCity}}</p>
</div>
<div class="col-12 col-md-6">
  <div id="map" style="width:600px;height:400px"></div> 
</div>
</div>

